set terminal png size 1000,700

unset grid
set key
set pointsize 0.5

set datafile separator ","

#set size ratio 1.0
set tics scale 0.5
set zeroaxis
set border 0
set xtics axis
set ytics axis

set title font "sans, 18"


# r=20
set xrange [-0.0004:0.0004]
set yrange [-0.0002:0.0002]

# r=20 m
set obj 3 ellipse center 0, 0 size 0.0007, 0.00036 angle 0 front fs empty bo 2
# r=10 m
#set obj 4 ellipse center 0, 0 size 0.00017, 0.0009 angle 0 front fs empty bo 5

set title "GPS position deviations{{PLOT_TITLE}}"
set output "{{PLOT_PATH}}/map-20.png"
plot \
  '+' using (0):(0):(0) with lines lc 2 title " 20 m", \
  '{{LOG_FILE}}' using 7:6 with lines lc 1 title ""


# r=50
set xrange [-0.001:0.001]
set yrange [-0.0005:0.0005]

# r=50 m
set obj 2 ellipse center 0, 0 size 0.0017, 0.0009 angle 0 front fs empty bo 3

set title "GPS position deviations{{PLOT_TITLE}}"
set output "{{PLOT_PATH}}/map-50.png"
plot \
  '+' using (0):(0):(0) with lines lc 3 title " 50 m", \
  '+' using (0):(0):(0) with lines lc 2 title " 20 m", \
  '{{LOG_FILE}}' using 7:6 with lines lc 1 title ""


# r=100
set xrange [-0.002:0.002]
set yrange [-0.001:0.001]

# r=100 m
set obj 1 ellipse center 0, 0 size 0.0034, 0.0018 angle 0 front fs empty bo 6

set title "GPS position deviations{{PLOT_TITLE}}"
set output "{{PLOT_PATH}}/map-100.png"
plot \
  '+' using (0):(0):(0) with lines lc 6 title "100 m", \
  '+' using (0):(0):(0) with lines lc 3 title " 50 m", \
  '+' using (0):(0):(0) with lines lc 2 title " 20 m", \
  '{{LOG_FILE}}' using 7:6 with lines lc 1 title ""
