set terminal png size 1000,500

set datafile separator ","

set xdata time
set xlabel "Time (UTC)"
set timefmt '%Y-%m-%d %H:%M:%S'
set format x "%H:%M"

# set ylabel "diff"
set grid
set key off
set pointsize 0.5


set title "GPS satellites in use{{PLOT_TITLE}}"
set output "{{PLOT_PATH}}/satellites.png"
set yrange [0:12]
plot '{{LOG_FILE}}' using 1:5 with lines lc rgb "#cccccc", \
  '' using 1:5 with lines linewidth 2 lt 1 smooth bezier
set autoscale y

set title "GPS altitude deviation{{PLOT_TITLE}}"
set output "{{PLOT_PATH}}/altitude-d.png"
plot '{{LOG_FILE}}' using 1:8 with lines lc 3

#set output "{{PLOT_PATH}}/altitude.png"
#plot '{{LOG_FILE}}' using 1:4 with linespoints lc 3


set key

set title "GPS position deviations{{PLOT_TITLE}}"
#set ytics 0.0001 nomirror 
set output "{{PLOT_PATH}}/position.png"
plot \
  '{{LOG_FILE}}' using 1:6 with lines lc 2 title "latD", \
  '' using 1:7 with lines lc 3 title "lonD"


#set style line 1 lc rgb '#0060ad' lt 1 lw 2 pt 7 pi -1 ps 1.5
#set pointintervalbox 3

set ytics nomirror tc lt 1
set y2tics 0.0001 nomirror tc lt 2
set mytics
set my2tics
#set ylabel '2*x' tc lt 1
#set y2label '4*x' tc lt 2

set title "GPS position deviations{{PLOT_TITLE}}"
set output "{{PLOT_PATH}}/position-d.png"
plot \
  '{{LOG_FILE}}' using 1:(abs($8)) with impulses lc rgb "#dddddd" axes x1y1 title "altD", \
  '' using 1:9 with lines linewidth 1 lt 1 title "posD", \
  '' using 1:6 with lines lc 2 axes x1y2 title "latD", \
  '' using 1:7 with lines lc 3 axes x1y2 title "lonD"
#, '' using 1:(abs($8)) with lines lc rgb "#bbbbbb" axes x1y1 title "altD"
